@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);



.header {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 306px);
    z-index: 2;
}

.header div {
    float: left;
    color: #00933f;
    font-family: 'Exo', sans-serif;
    font-size: 42px;
    font-weight: 200;
}

.header div span {
    color: #0087cd;
}

.logo-img {
    display: block;
    margin: 0 61px 20px;
    width: 187px;
    height: auto;
}

.login {
    position: absolute;
    top: calc(51% - 139px);
    left: calc(50% - 50px);
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}

.login input[type=text] {
    width: 300px;
    height: 50px;
    background: transparent;
    border: 1px solid #00933f;
    border-radius: 2px;
    color: #000000;
    /* font-family: 'Exo', sans-serif; */
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

.login input[type=password] {
    width: 300px;
    height: 50px;
    background: transparent;
    border: 1px solid #00933f;
    border-radius: 2px;
    color: #000000;
    /* font-family: 'Exo', sans-serif; */
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.login input[type=submit] {
    width: 310px;
    height: 40px;
    background: #00933f;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    /* font-family: 'Exo', sans-serif; */
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}

.login input[type=submit]:hover {
    background: #0087cd;
}

.login input[type=submit]:active {
    opacity: 0.6;
}

.login input[type=text]:focus {
    outline: none;
    border: 1px solid #0087cd ;
}

.login input[type=password]:focus {
    outline: none;
    border: 1px solid #0087cd;
}

.login input[type=submit]:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.error-message {
    color: #f33535;
    font-size: 14px;
    margin-top: 5px;
    /* font-family: 'Exo', sans-serif; */
}

@media (max-width: 767px) {
    .logo-img {
        display: none;
    }

    .header {
        top: calc(38% - 35px);
        left: 50%;
        transform: translateX(-50%);
    }

    .login {
        top: calc(64% - 139px);
        left: 50%;
        transform: translateX(-45%);
    }

    .header div {
        display: flex;
    }

    .header div span {
        margin-left: 10px;
    }
}