.header-register {
  position: absolute;
  top: calc(46% - -69px);
  left: calc(50% - 313px);
  z-index: 2;
}

.header-register div {
  float: left;
  color: #00933f ;
  font-family: 'Exo', sans-serif;
  font-size: 42px;
  font-weight: 200;
}

.header-register div span {
  color: #0087cd;
}

.register {
  position: absolute;
  top: calc(33% - 139px);
  left: calc(50% - 50px);
  height: 320px;
  /* más alto para 4 inputs */
  width: 350px;
  padding: 10px;
  z-index: 2;
}

.register input[type="text"],
.register input[type="email"],
.register input[type="password"] {
  width: 300px;
  height: 50px;
  background: transparent;
  border: 1px solid #00933f;
  border-radius: 2px;
  color: #000000;
  /* font-family: 'Exo', sans-serif; */
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}
.register select {
  width: 310px;
  height: 50px;
  background: transparent;
  border: 1px solid #00933f;
  border-radius: 2px;
  color: #555555;
  /* font-family: 'Exo', sans-serif; */
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}

.register select option {
  background-color: #0089cd34;
  color: #0087cd;
}


.register button {
  width: 310px;
  height: 40px;
  background: #00933f;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: white;
  /* font-family: 'Exo', sans-serif; */
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.register button:hover {
  background: #0087cd;
}

.register button:active {
  opacity: 0.6;
}

.register input[type="text"]:focus,
.register input[type="email"]:focus,
.register input[type="password"]:focus,
.register button:focus {
  outline: none;
  border: 1px solid #0087cd;
}

.error-message {
  color: #f33535;
  font-size: 14px;
  margin-top: 5px;
  /* font-family: 'Exo', sans-serif; */
}

@media (max-width: 767px) {
  .logo-img {
    display: none;
  }

  .header-register {
    top: 11%;
    left: 50%;
    transform: translateX(-50%);
  }

  .register {
    top: calc(44% - 139px);
    left: 50%;
    transform: translateX(-45%);
  }

  .header-register div {
    display: flex;
  }

  .header-register div span {
    margin-left: 10px;
  }
}