.input-placeholder {
    width: 237px;
    height: 47px;
    background: transparent;
    border: 1px solid #00933f;
    border-radius: 2px;
    color: #0087cd;
    /* font-family: 'Exo', sans-serif; */
    font-size: 16px;
    font-weight: 400;
    padding: 0px 2px 0px 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.input-placeholder option {
  color: #ffffff;
  background: #0087cd;
}

.filtros-busqueda {
  width: 97%;
  background: #d0def5;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
  padding: 19px;
  padding-bottom: 17px;
}

.botones-filtros {
  margin-top: -16px;
  padding-top: 0;
  padding-bottom: 19px;
}

.filtros-busqueda input {
    background: white;
    width: 175px;
    height: 39px;
    border: 1px solid #00933f;
    border-radius: 2px;
    color: #0087cd;
    /* font-family: 'Exo', sans-serif; */
    font-size: 14px;
    font-weight: 400;
    padding: 8px;
    box-sizing: border-box;
}

.input-placeholder::placeholder {
  color: #0087cd !important;
  opacity: 1;
}











.multi-select-container {
  position: relative;
  /* width: 100%; */
  max-width: 260px;
}

.multi-select-display {
  width: 209px;
  height: auto;
  border: 1px solid #00933f;
  padding: 10px 12px;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #0087cd;
}

.multi-select-display .arrow {
  margin-left: 10px;
  font-size: 12px;
  color: #198754;
}

.multi-select-dropdown {
  position: absolute;
  width: 100%;
  background: #ffffff;
  /* blanco */
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  background: #0087cd;
  border-bottom: 1px solid #e0e0e0;
}

.dropdown-item:hover {
  background-color: #88b9f1;
  color: #083269;
}

.dropdown-item input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
  accent-color: #083269;
  height: 16px;
  width: 16px;
}


.boton-refrescar {
  height: 0px;
  background: none !important;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #0087cd !important;
  padding: 6px;
  margin-top: 1px;
  margin-left: 9px;
}

.search-button {
  height: 0px;
  background: none !important;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #0087cd !important;
  padding: 6px;
  margin-top: 1px;
}

.eraser-button {
  height: 0px;
  background: none !important;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #0087cd !important;
  padding: 6px;
  margin-top: 1px;
}

.iconos-filtros {
  display: flex;
  flex-direction: row;
  gap: 52px;
  /* justify-content:  space-between; */
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: solid 1px #00933f;
  height: 37px;
  width: 224px;
}

.iconos-filtros button {
  display: flex;
  align-items: center;
  gap: 8px;
  /* Espacio entre el icono y el texto */
  /* Otros estilos del botón... */
}

.boton-refrescar:hover,
.eraser-button:hover,
.search-button:hover {
  color: #00933f !important;
}

.texto-iconos {
  font-size: 12px;
  font-family: Oxygen;
  text-transform: none;
}

@media (max-width: 834px) {
  .filtros-busqueda button {
    width: 8%;
  }
}