.pqrs-res-container {
    width: 80%;
    margin: 70px auto;  
    background: #f7f7f7;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: rgb(7, 139, 148);
    font-size: 20px;
    backdrop-filter: blur(170px);
}

.pqrs-res-title {
    text-align: center;
    margin-bottom: 20px;
    color: #0087cd;
}

.pqrs-res-info p {
    margin: 1.5rem 0;
    color: black;
}

.pqrs-res-info strong {
    color: rgb(4, 61, 126);
}

.pqrs-res-descripcion {
    background-color: transparent;
    padding: 1rem;
    border-radius: 6px;
    white-space: pre-line;
    color: rgb(0, 0, 0);
    border: 0.5px solid rgba(255, 255, 255, 0.6);
}

.pqrs-res-form {
    margin-top: 2rem;
}

.pqrs-res-form p {
    color: rgb(4, 61, 126);
}

.pqrs-res-textarea {
    width: 100%;
    padding: 0.75rem;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #00933f;
    resize: vertical;
    box-sizing: border-box;
    margin-top: 0.5rem;
    height: 517px;
    resize: none;
}


.pqrs-res-button {
    height: 37px;
    background-color: #030f54;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    margin-top: 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.pqrs-res-button:hover {
    background-color: #0087cd;
}

.pqrs-res-success {
    color: green;
    margin-top: 1rem;
}

.pqrs-res-error {
    color: red;
    font-weight: bold;
    padding: 1rem;
}

.pqrs-res-loading {
    font-style: italic;
    padding: 1rem;
}

.archivo-seleccionado {
    color: rgb(4, 61, 126);
}

@media (max-width: 1400px) {
    .pqrs-res-container {
        width: 80%;
        margin: 357px auto;
        background: transparent;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        /* font-family: 'Arial', sans-serif; */
        color: rgb(7, 139, 148);
        font-size: 20px;
        backdrop-filter: blur(170px);
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 834px) {
    .pqrs-res-container {
        width: 80%;
        margin: 347px auto;
        background: transparent;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        /* font-family: 'Arial', sans-serif; */
        color: white;
        font-size: 20px;
        backdrop-filter: blur(170px);
        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 500px) {
    .pqrs-res-container {
        width: 80%;
        margin: 395px auto;
        background: transparent;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        /* font-family: 'Arial', sans-serif; */
        color: white;
        font-size: 20px;
        backdrop-filter: blur(170px);
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .pqrs-res-title {
        font-size: 27px;
    }
}