.header-change-password {
    position: absolute;
    top: calc(40% + 35px);
    left: calc(50% - 255px);
    z-index: 2;
}

.header-change-password div {
    float: left;
    color: #00933f;
    font-family: 'Exo', sans-serif;
    font-size: 42px;
    font-weight: 200;
}

.header-change-password div span {
    color: #0087cd;
}

.change-password-container {
    position: absolute;
    top: calc(44% - 139px);
    left: calc(50% - 50px);
    width: 350px;
    padding: 10px;
    z-index: 2;
}

.change-password-container>div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/* Etiquetas (labels) */
.change-password-container label {
    margin-bottom: 6px;
    color: #000000;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select,
.form-group p {
    width: 310px;
    height: 50px;
    background: transparent;
    border: 1px solid #00933f;
    border-radius: 2px;
    color: #000000;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 13px 10px;
    margin-top: 4px;
    margin-bottom: 21px;
    box-sizing: border-box;
}

/* Botones */
.change-password-container button {
    width: 310px;
    height: 40px;
    background: #00933f;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
    transition: opacity 0.3s ease;
}

.change-password-container button:hover {
    opacity: 0.8;
    background: #0087cd;
}

.change-password-container button:active {
    opacity: 0.6;
}

/* Focus */
.change-password-container input[type="text"]:focus,
.change-password-container input[type="email"]:focus,
.change-password-container select:focus,
.change-password-container button:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

.text-danger {
    color: #f14b4b;
    /* Rojo claro */
    font-size: 13px;
    margin-top: -18px;
    margin-bottom: 15px;
    font-family: 'Exo', sans-serif;
}

/* Responsive */
@media (max-width: 767px) {

    .header-change-password {
        top: 19%;
        left: 50%;
        transform: translateX(-50%);
    }

    .change-password-container {
        top: calc(58% - 139px);
        left: 50%;
        transform: translateX(-45%);
    }
}

@media (min-width: 768px) and (max-width: 834px) {

    .header-change-password {
        position: absolute;
        top: calc(40% + 4px);
        left: calc(50% - 288px);
        z-index: 2;
    }
}
@media (min-width: 900px) and (max-width: 2496px) {
       .header-change-password {
        position: absolute;
        top: calc(40% + 37px);
        left: calc(50% - 288px);
        z-index: 2;
    }
}