.header-register-user {
  position: absolute;
  top: calc(41% - -35px);
  left: calc(37% - 255px);
  z-index: 2;
}

.header-register-user div {
  float: left;
  /* margin-left: -136px; */
  color: #00933f;
  font-family: 'Exo', sans-serif;
  font-size: 42px;
  font-weight: 200;
}

.header-register-user div span {
  color: #0087cd;
}








.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: start;
  max-width: 960px;
  margin: 0 auto;
}

.form-grid div {
  width: 97%;
}

button[type="submit"] {
  grid-column: span 2;
  /* botón ocupa ambas columnas */
  width: 200px;
  margin: 0 auto;
}














.register-user {
  position: absolute;
  top: calc(37% - 139px);
  left: calc(37% - 50px);
  height: 320px;
  /* más alto para 4 inputs */
  width: 350px;
  padding: 10px;
  z-index: 2;
}

.register-user input[type="text"],
.register-user input[type="email"],
.register-user input[type="password"] {
  width: 300px;
  height: 50px;
  background: transparent;
  border: 1px solid #00933f;
  border-radius: 2px;
  color: #000000;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}


.register-user select {
  width: 310px;
  height: 50px;
  background: transparent;
  border: 1px solid #00933f;
  border-radius: 2px;
  color: #707070;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}

.register-user select option {
  background-color: #0087cd;
  color: white;
}


.register-user button {
  width: 310px;
  height: 40px;
  background: #0087cd;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #ffffff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.register-user button:hover {
  opacity: 0.8;
  background: #00933f;
}

.register-user button:active {
  opacity: 0.6;
}

.error-message {
  color: #1fecb9;
  font-size: 14px;
  margin-top: 5px;
  font-family: 'Exo', sans-serif;
}












/* Campo principal igual a un form-control */
.custom-select-field {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #198754;
  /* Borde verde */
  border-radius: 0.375rem;
  min-height: 38px;
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
}

/* Dropdown con apariencia de select abierto */
.custom-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #198754;
  border-radius: 0.375rem;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  margin-top: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Cada opción (checkbox) alineada y con padding como un select */
.checkbox-item-register {
  cursor: pointer;
  background: #0087cd;
  color: white;
  width: 104%;
  margin-left: -5px;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  z-index: 9999;
  padding: 4px;
}

.checkbox-item-sedes:hover {
  background-color: #f8f9fa;
}

.form-grid div {
  width: 97%;
}

.sedes-register {
  width: 300px;
  height: auto;
  min-height: 40px;
  background: transparent;
  border: 1px solid #00933f;
  border-radius: 2px;
  color: #000000;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}

form .input {
  /* display: block; */
  color: black;
}

.placeholder-sedes {
  color: #585858 !important;
  margin-top: 10px;
}


@media (max-width: 767px) {
  .logo-img {
    display: none;
  }

  .header-register-user {
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
  }

  .register-user {
    top: calc(51% - 139px);
    left: 50%;
    transform: translateX(-45%);
  }

  /* .header-register-user div {
    margin-left: -2px;
  } */
}

@media (min-width: 768px) and (max-width: 1366px) {
  .register-user {
    top: calc(44% - 139px);
    left: calc(37% - 50px);
  }
}