.header-details-user {
    position: absolute;
    top: calc(40% + 35px);
    left: calc(50% - 255px);
    z-index: 2;
}

.header-details-user div {
    float: left;
    color: #00933f;
    font-family: 'Exo', sans-serif;
    font-size: 42px;
    font-weight: 200;
}

.header-details-user div span {
    color: #0087cd;
}

.details-user {
    position: absolute;
    top: calc(35% - 139px);
    left: calc(50% - 50px);
    width: 350px;
    padding: 10px;
    z-index: 2;
}

.details-user>div {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

/* Etiquetas (labels) */
.details-user label {
    margin-bottom: 6px;
    color: #000000;
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* Estilo común para input, select y visualización (p) */
.details-user input[type="text"],
.details-user input[type="email"],
.details-user input[type="password"],
.details-user select,
.details-user p {
    width: 310px;
    height: auto;
    background: transparent;
    border: 1px solid #00933f;
    border-radius: 2px;
    color: #020202;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 13px 10px;
    margin-top: 4px;
    margin-bottom: 21px;
    box-sizing: border-box;
}

.select-role {
    padding: 0px 10px !important;
}

.select-role option {
    background-color: #0087cd;
    color: white;
}

.select-role option[disabled] {
    color: rgb(104, 243, 213);
    /* blanco */
    opacity: 0.7;
    /* opcional, para que se vea deshabilitado */
}

/* Botones */
.details-user button {
    width: 310px;
    height: 40px;
    background: #00933f;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
    transition: opacity 0.3s ease;
}

.details-user button:hover {
    background: #0087cd;
    opacity: 0.8;
}

.details-user button:active {
    opacity: 0.6;
}

/* Focus */
.details-user input[type="text"]:focus,
.details-user input[type="email"]:focus,
.details-user select:focus,
.details-user button:focus {
    outline: none;
    border: 1px solid #0087cd;
}

/* Errores */
.error-message {
    color: #f33535;
    font-size: 14px;
    margin-top: 5px;
    font-family: 'Exo', sans-serif;
}


/* ESTILOS INPUT SEDES */

.custom-multiselect-sedes {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.custom-select-box-sedes {
    width: 294px;
    min-height: 26px;
    height: auto;
    padding: 6px 0px 6px 15px;
    border: 1px solid #00933f;
    cursor: pointer;
    position: relative;
    user-select: none;
    font-size: 16px;
    border-radius: 2px;
    color: #525252
}

.custom-select-box-sedes::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 6px;
    width: 5px;
    height: 5px;
    border: solid #525252;
    border-width: 0 2px 2px 0;
    transform: translateY(-50%) rotate(45deg);
    /* flecha hacia abajo */
    pointer-events: none;
}

.checkbox-options-sedes {
    position: absolute;
    top: 89%;
    left: 0;
    width: 309px;
    max-height: 200px;
    overflow-y: auto;
    background: #0087cd;
    border: 1px solid #ccc;
    z-index: 1000;
    margin-top: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.checkbox-item-sedes {
    display: flex;
    padding: 2px 12px;
    cursor: pointer;
    color: white !important;
    font-family: 'Oxygen';
    font-size: 16px;
    font-weight: 400;
}

.checkbox-item-sedes:hover {
    background-color: #2669cc;
}

.checkbox-item input {
    margin-right: 8px;
}

/* FIN ESTILOS INPUT SEDES */

.formulario-user {
    margin-bottom: 87px;
}

/* Responsive */
@media (max-width: 767px) {
    .logo-img {
        display: none;
    }

    .header-details-user {
        top: 26%;
        left: 50%;
        transform: translateX(-50%);
    }

    .details-user {
        top: calc(58% - 139px);
        left: 50%;
        transform: translateX(-45%);
    }
}

@media (min-width: 1365px) and (max-width: 1600px) {
    .details-user {
        position: absolute;
        top: calc(41% - 139px);
        left: calc(50% - 50px);
        width: 350px;
        padding: 10px;
        z-index: 2;
    }
}