.container-users {
    padding: 20px 30px 20px 30px;
}

.container-users .container-table th {
    text-align: center;
}

.header-top-users {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.container-table-users {
    width: 100%;
    max-width: 900px;
    min-width: 400px;
    border-collapse: collapse;
    margin: 0 auto;
}


.table-wrapper-users {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    justify-content: center;
}

table {
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px transparent;
    border: 1px solid white;
    background: #dbedf8fb;
}

th,
td {
    padding: 15px;
    background-color: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.507);
    text-align: center;
}

th {
    background-color: #0049e8;
}

tbody tr:hover {
    background-color: #1f9cce69;
}

tbody td {
    position: relative;
    z-index: 2;
    background: white;
    /* background-color: white; */
}

tbody td:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #a2c5fa;
    z-index: -1;
}

.actions {
    display: flex;
    justify-content: center;
}

/* BOTONES DE BUSQUEDA */
.filtros-busqueda-users {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}


.filtros-busqueda-users select {
    background: transparent;
    width: 206px;
    height: 30px;
    border: 1px solid #00933f;
    border-radius: 2px;
    color: #0087cd;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 3px;
    box-sizing: border-box;
}

.filtros-busqueda-users select option {
    background-color: #0087cd;
    color: white;
}

.filtros-busqueda-users button {
    height: 30px;
    padding: 6px 12px;
    /* font-family: 'Exo', sans-serif; */
    background-color: #00933f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
    align-self: center;
}


.filtros-busqueda-users button:hover {
    background: #0087cd;
}

.input-placeholder::placeholder {
    color: rgb(255, 255, 255);
}

/* FIN BOTONES DE BUSQUEDA */

/* ICONOS */
td button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: -5px;
    font-size: 16px;
    color: #0087cd;
}

td button:hover {
    color: rgb(97, 210, 245);
}

.container-table tbody tr:nth-child(even) td {
  background-color: #e4effd; 
}

.container-table tbody tr:nth-child(odd) td {
  background-color: #ffffff; /* Blanco */
}
/* FIN ICONOS */

.user-sedes-list {
  list-style: none;       /* Quita los puntos */
  margin: 0;              /* Quita el margen superior e inferior */
  padding-left: 0;        /* Quita la sangría */
}

.user-sedes-list li {
  padding: 2px 0;         /* Espaciado entre cada sede */
}

@media (max-width: 834px) {

    th,
    td {
        padding: 8px 10px;
        font-size: 14px;
    }
}

@media (min-width: 671px) and (max-width: 893px) {
    .filtros-busqueda-users button {
        margin-top: 1px;
    }
}