@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oxygen:wght@400;700&display=swap');


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: black;
  /* font-family: 'Exo', sans-serif; */
  /* font-family: sans-serif; */
  font-family: 'Oxygen';
  font-weight: 400;
  font-size: 12px;
  overflow-x: hidden
}

