@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oxygen:wght@400;700&display=swap');


html,
body {
  min-height: 100%; /* Permite que el cuerpo crezca */
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: black;
  font-family: 'Oxygen';
  font-weight: 400;
  font-size: 12px;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Fuerza al contenedor de React a ocupar toda la pantalla */
}

